*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 1000px;
    display: flex;
}

header {
    transition: 1s;
    width: 100vw;
    height: 0rem;
    position: fixed;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: antiquewhite;
    top: 20px;
    right: 0px;
    margin: 4% 0 0 86% ;
    cursor: pointer;
    box-shadow: 0 0 0 5px antiquewhite,  0 0 0 5px antiquewhite;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
}

.menu:hover {
    box-shadow: 0 0 0 8px antiquewhite,  0 0 0 8px antiquewhite;
}

.hamburger {
    position: relative;
    display: block; /*enables add body*/
    background-color: #000;
    width: 25px;
    height: 2px;
    top: 14px;
    left: 2px;
    transition: .5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    background-color: #000;
    content: ''; /*add body*/
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ ul {
    opacity: 1;
}

input:checked ~ label .menu {
    box-shadow: 0 0 0 5px antiquewhite,  0 0 0 5px antiquewhite;
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

input:checked ~ label .hamburger::before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburger::after {
    transform: rotate(90deg);
    bottom: 0;
}

header ul {
    transform: translate(-200%, -200%);
    width: 100%;
    height: 50%;
    list-style: none;
    opacity: 1;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0 0 0;
    /* padding: 0 2rem 0 2rem; */
}

header ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}